form {
	width: 400px;
	margin: 100px auto;
}

form input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #CCC;
}

input.error {
	border: 1px solid red;
}

.error {
	padding: 0 10px;
	color: red;
}