<!DOCTYPE html>
<html>
	<head>
		<title>AngularJS form app</title>

		<style type="text/css">
			ul li {
				display: inline-block;
				margin-right: 5px;
				width: 50px;
				height: 50px;
				border: 1px solid black;
			}

			.selected {
				border: 2px solid red;
			}
		</style>

	</head>

	<body data-ng-app="formApp" data-ng-controller="formAppCtrl">


		<div style="text-align:center; margin-top: 100px">
			<ul>
				<li ng-repeat="movie in movies" 
				    ng-style="{ 'background-color': movie }" 
				    ng-click="updateSelectedMovie(movie)" 
				    ng-class="{'selected' : isSelected(movie) }"></li>
			</ul>	
		</div>

		<div ng-bind="selectedMovie"></div>

		<div style="clear: both">

			<form name="userForm"
				  data-ng-submit="submitForm(userForm.$valid)"
				  data-ng-show="isFormVisible"
			      novalidate>

				<input type="text" 
				       placeholder="Name"
				       name="name" 
				       required
				       ng-minlength="10"
				       data-ng-model="user.name" ng-style="{ 'border-color' : selectedMovie }">

				<p class="error" 
				   data-ng-show="userForm.name.$invalid && userForm.name.$dirty">
					plese insert a name with at least 10 chars
				</p>

				<input type="text" 
				       placeholder="Surname"
				       data-ng-model="user.surname">

				<input type="email" 
				       placeholder="Email"
				       data-ng-model="user.email">

				<input type="number" 
				       placeholder="Mobile"
				       data-ng-model="user.mobile">

				<button type="submit" 
				        
				        data-ng-class="{'enabled': userForm.$valid, 'disabled': userForm.$invalid}"
				        >
					Submit
				</button>

			</form>
		</div>

		<a href="#" 
			   data-ng-click="isFormVisible = !isFormVisible"
			   style="width:200px; display: block; margin: 20px auto 0 auto; text-align: center;">
			Show/Hide form
		</a>

		<!-- CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/main.css">
		
		<!-- JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
		<script src="js/app.js"></script>

	</body>
</html>